@page "/access-denied"

<PageTitle>Access denied</PageTitle>

<h1>Access denied</h1>
<div class="alert alert-warning" role="alert" aria-live="assertive">
    You don't have permission to view this page.
</div>
<p>
    Please <a href="/login">log in</a> with a user that has access or go back to the <a href="/">home page</a>.
</p>
